<!DOCTYPE html>
<html lang="en">
  <%- include("./component/head.ejs") %>
  <body>
    <div class="page files d-flex">
      <!--Start Side Bar-->
      <%- include("./component/nav.ejs") %>
      <!--End Side Bar-->

      <!--Start Content-->

      <div class="content full-width">
        <%- include("./component/header.ejs") %>

        <h1 class="p-relative">Files</h1>

        <div class="container d-flex m-20 gap-20">
          <div class="cards-200 d-grid gap-20">
            <!--Start Card-->
            <div class="card bg-white p-relative rad-10 pad-20">
              <a href="#">
                <i class="fa-solid fa-download fs-16 c-grey"></i>
              </a>
              <header>
                <div class="txt-c">
                  <img src="img/pdf.svg" alt="pdf" />
                  <p class="fs-16 d-block mt-15 mb-10">my-file.pdf</p>
                </div>
                <span class="c-grey fs-12 d-block mb-10">Ahmed</span>
              </header>
              <footer class="mt-15 fs-12 c-grey flex-between align-c">
                <span>20/06/2020</span>
                <span>5.5MB</span>
              </footer>
            </div>
            <!--End Card-->
            <!--Start Card-->
            <div class="card bg-white p-relative rad-10 pad-20">
              <a href="#">
                <i class="fa-solid fa-download fs-16 c-grey"></i>
              </a>
              <header>
                <div class="txt-c">
                  <img src="img/avi.svg" alt="avi" />
                  <p class="fs-16 d-block mt-15 mb-10">my-file.avi</p>
                </div>
                <span class="c-grey fs-12 d-block mb-10">Admin</span>
              </header>
              <footer class="mt-15 fs-12 c-grey flex-between align-c">
                <span>20/06/2023</span>
                <span>3.5MB</span>
              </footer>
            </div>
            <!--End Card-->
            <!--Start Card-->
            <div class="card bg-white p-relative rad-10 pad-20">
              <a href="#">
                <i class="fa-solid fa-download fs-16 c-grey"></i>
              </a>
              <header>
                <div class="txt-c">
                  <img src="img/zip.svg" alt="zip" />
                  <p class="fs-16 d-block mt-15 mb-10">my-file.zip</p>
                </div>
                <span class="c-grey fs-12 d-block mb-10">Admin</span>
              </header>
              <footer class="mt-15 fs-12 c-grey flex-between align-c">
                <span>20/12/2023</span>
                <span>2.8MB</span>
              </footer>
            </div>
            <!--End Card-->
            <!--Start Card-->
            <div class="card bg-white p-relative rad-10 pad-20">
              <a href="#">
                <i class="fa-solid fa-download fs-16 c-grey"></i>
              </a>
              <header>
                <div class="txt-c">
                  <img src="img/eps.svg" alt="eps" />
                  <p class="fs-16 d-block mt-15 mb-10">my-file.eps</p>
                </div>
                <span class="c-grey fs-12 d-block mb-10">Ahmed</span>
              </header>
              <footer class="mt-15 fs-12 c-grey flex-between align-c">
                <span>11/06/2023</span>
                <span>2.8MB</span>
              </footer>
            </div>
            <!--End Card-->
            <!--Start Card-->
            <div class="card bg-white p-relative rad-10 pad-20">
              <a href="#">
                <i class="fa-solid fa-download fs-16 c-grey"></i>
              </a>
              <header>
                <div class="txt-c">
                  <img src="img/psd.svg" alt="psd" />
                  <p class="fs-16 d-block mt-15 mb-10">my-file.psd</p>
                </div>
                <span class="c-grey fs-12 d-block mb-10">Ahmed</span>
              </header>
              <footer class="mt-15 fs-12 c-grey flex-between align-c">
                <span>11/06/2023</span>
                <span>2.8MB</span>
              </footer>
            </div>
            <!--End Card-->
            <!--Start Card-->
            <div class="card bg-white p-relative rad-10 pad-20">
              <a href="#">
                <i class="fa-solid fa-download fs-16 c-grey"></i>
              </a>
              <header>
                <div class="txt-c">
                  <img src="img/dll.svg" alt="psd" />
                  <p class="fs-16 d-block mt-15 mb-10">my-file.dll</p>
                </div>
                <span class="c-grey fs-12 d-block mb-10">Ahmed</span>
              </header>
              <footer class="mt-15 fs-12 c-grey flex-between align-c">
                <span>11/06/2023</span>
                <span>2.8MB</span>
              </footer>
            </div>
            <!--End Card-->
            <!--Start Card-->
            <div class="card bg-white p-relative rad-10 pad-20">
              <a href="#">
                <i class="fa-solid fa-download fs-16 c-grey"></i>
              </a>
              <header>
                <div class="txt-c">
                  <img src="img/pdf.svg" alt="pdf" />
                  <p class="fs-16 d-block mt-15 mb-10">my-file.pdf</p>
                </div>
                <span class="c-grey fs-12 d-block mb-10">Ahmed</span>
              </header>
              <footer class="mt-15 fs-12 c-grey flex-between align-c">
                <span>20/06/2020</span>
                <span>5.5MB</span>
              </footer>
            </div>
            <!--End Card-->
            <!--Start Card-->
            <div class="card bg-white p-relative rad-10 pad-20">
              <a href="#">
                <i class="fa-solid fa-download fs-16 c-grey"></i>
              </a>
              <header>
                <div class="txt-c">
                  <img src="img/eps.svg" alt="eps" />
                  <p class="fs-16 d-block mt-15 mb-10">my-file.eps</p>
                </div>
                <span class="c-grey fs-12 d-block mb-10">Ahmed</span>
              </header>
              <footer class="mt-15 fs-12 c-grey flex-between align-c">
                <span>11/06/2023</span>
                <span>2.8MB</span>
              </footer>
            </div>
            <!--End Card-->
          </div>
          <!--End Cards-->

          <!--Start File Statistics-->
          <div class="file-statistics bg-white rad-6 pad-20">
            <h2 class="fs-14 mb-20">Files Statistics</h2>
            <div class="row pdf flex-between align-c pad-10 rad-6">
              <i class="fa-regular fa-file-pdf"></i>
              <div class="info">
                <span class="d-block">DPF Files</span>
                <span class="d-block c-grey">130</span>
              </div>
              <span class="c-grey">6.5GB</span>
            </div>

            <div class="row images flex-between align-c pad-10 rad-6">
              <i class="fa-regular fa-image"></i>
              <div class="info">
                <span class="d-block">Images</span>
                <span class="d-block c-grey">12</span>
              </div>
              <span class="c-grey">25MB</span>
            </div>

            <div class="row word flex-between align-c pad-10 rad-6">
              <i class="fa-regular fa-file-word"></i>
              <div class="info">
                <span class="d-block">Word Files</span>
                <span class="d-block c-grey">12</span>
              </div>
              <span class="c-grey">25MB</span>
            </div>

            <div class="row csv flex-between align-c pad-10 rad-6">
              <i class="fa-solid fa-file-csv"></i>
              <div class="info">
                <span class="d-block">CSV Files</span>
                <span class="d-block c-grey">45</span>
              </div>
              <span class="c-grey">255MB</span>
            </div>
            <a href="#" class="btn-shape bg-blue c-white rad-6 fs-14">
              <i class="fa-solid fa-angles-up mr-10"></i>
              Upload
            </a>
          </div>
          <!--End File Statistics-->
        </div>
      </div>
      <!--End Content-->
    </div>
    <script src="JS/main.js"></script>
  </body>
</html>
