<!DOCTYPE html>
<html lang="en">
  <%- include("./component/head.ejs") %>
  <body>
    <div class="page plans d-flex">
      <!--Start Side Bar-->
      <%- include("./component/nav.ejs") %>
      <!--End Side Bar-->

      <!--Start Content-->

      <div class="content full-width">
        <%- include("./component/header.ejs") %>

        <h1 class="p-relative">Plans</h1>

        <div class="cards plan-cards d-grid gap-20">
          <!--Start Card-->
          <div class="card free rad-6 bg-white pad-20">
            <div class="header bg-green c-white txt-c pad-20">
              <span class="fs-28 w-bold">Free</span>
              <div class="p-relative price mt-20">
                <span class="fs-20">$</span>
                <span class="fs-30">0.00</span>
              </div>
            </div>

            <div class="main mt-20 mb-20">
              <ul>
                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access All Text Lessons</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access All Videos Lessons</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Appear On Leaderboard</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="uncheck flex-1 p-relative d-flex align-c">
                    Browse Content Without Ads</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="uncheck flex-1 p-relative d-flex align-c">
                    Access All Assignments</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="uncheck flex-1 p-relative d-flex align-c">
                    Get Daily Prizes</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="uncheck flex-1 p-relative d-flex align-c">
                    Earn Certificate</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="uncheck flex-1 p-relative d-flex align-c">
                    1 GB Space For Hosting Files</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="uncheck flex-1 p-relative d-flex align-c">
                    Access Badge System</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>
              </ul>
            </div>

            <div class="footer">
              <a href="#">
                <span class="btn-shape bg-green c-white rad-6 fs-14">Join</span>
              </a>
            </div>
          </div>
          <!--End Card-->

          <!--Start Card-->
          <div class="card basic rad-6 bg-white pad-20">
            <div class="header bg-blue c-white txt-c pad-20">
              <span class="fs-28 w-bold">Basic</span>
              <div class="p-relative price mt-20">
                <span class="fs-20">$</span>
                <span class="fs-30">7.99</span>
              </div>
            </div>

            <div class="main mt-20 mb-20">
              <ul>
                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access All Text Lessons</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access All Videos Lessons</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Appear On Leaderboard</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Browse Content Without Ads</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access All Assignments</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Get Daily Prizes</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Earn Certificate</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="uncheck flex-1 p-relative d-flex align-c">
                    1 GB Space For Hosting Files</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="uncheck flex-1 p-relative d-flex align-c">
                    Access Badge System</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>
              </ul>
            </div>

            <div class="footer">
              <a href="#">
                <span class="btn-shape bg-blue c-white rad-6 fs-14">Join</span>
              </a>
            </div>
          </div>
          <!--End Card-->

          <!--Start Card-->
          <div class="card premium rad-6 bg-white pad-20">
            <div class="header bg-orange c-white txt-c pad-20">
              <span class="fs-28 w-bold">Premium</span>
              <div class="p-relative price mt-20">
                <span class="fs-20">$</span>
                <span class="fs-30">10.99</span>
              </div>
            </div>

            <div class="main mt-20 mb-20">
              <ul>
                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access All Text Lessons</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access All Videos Lessons</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Appear On Leaderboard</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Browse Content Without Ads</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access All Assignments</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Get Daily Prizes</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Earn Certificate</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    1 GB Space For Hosting Files</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>

                <li class="d-flex align-c fs-14">
                  <span class="check flex-1 p-relative d-flex align-c">
                    Access Badge System</span
                  >
                  <a href="#">
                    <i class="fa-solid fa-circle-exclamation c-grey"></i>
                  </a>
                </li>
              </ul>
            </div>

            <div class="footer txt-c">
              <span class="c-grey fs-14">This is your Current Plan</span>
            </div>
          </div>
          <!--End Card-->
        </div>
      </div>
      <!--End Content-->
    </div>
    <script src="JS/main.js"></script>
  </body>
</html>
