<!DOCTYPE html>
<html lang="en">
  <%- include("./component/head.ejs") %>
  <body>
    <div class="page projects d-flex">
      <!--Start Side Bar-->
      <%- include("./component/nav.ejs") %>
      <!--End Side Bar-->

      <!--Start Content-->

      <div class="content full-width">
        <%- include("./component/header.ejs") %>

        <h1 class="p-relative">Projects</h1>

        <div class="cards-250 d-grid gap-20">
          <!--Start Card-->
          <div class="card bg-white rad-10">
            <header>
              <img src="img/template1.png" alt="template1" class="rad-10" />
            </header>
            <main class="pad-20">
              <h3 class="fs-16">Template 1</h3>
              <p class="mt-15 fs-12 c-grey">
                This is the template 1 using HTML,CSS. you can see the source of
                the site
                <a
                  href="https://www.graphberry.com/item/leon-psd-agency-template"
                  target="_blank"
                  >Here</a
                >
              </p>
            </main>
            <footer class="pad-20 fs-14">
              <a
                href="https://ahmed-awad-template3.netlify.app/"
                class="flex-between"
                target="_blank"
              >
                Preview The Site
                <i class="fa-solid fa-arrow-right preview"></i>
              </a>
            </footer>
          </div>
          <!--End Card-->
          <!--Start Card-->
          <div class="card bg-white rad-10">
            <header>
              <img src="img/template2.png" alt="template2" class="rad-10" />
            </header>
            <main class="pad-20">
              <h3 class="fs-16">Template 2</h3>
              <p class="mt-15 fs-12 c-grey">
                This is the template 2 using HTML,CSS. you can see the source of
                the site
                <a
                  href="https://www.graphberry.com/item/kasper-one-page-psd-template"
                  target="_blank"
                  >Here</a
                >
              </p>
            </main>
            <footer class="pad-20 fs-14">
              <a
                href="https://ahmed-awad-template2.netlify.app/"
                class="flex-between"
                target="_blank"
              >
                Preview The Site
                <i class="fa-solid fa-arrow-right preview"></i>
              </a>
            </footer>
          </div>
          <!--End Card-->
          <!--Start Card-->
          <div class="card bg-white rad-10">
            <header>
              <img src="img/template3.png" alt="template3" class="rad-10" />
            </header>
            <main class="pad-20">
              <h3 class="fs-16">Template 3</h3>
              <p class="mt-15 fs-12 c-grey">
                This is the template 3 using HTML,CSS. you can see the source of
                the site
                <a
                  href="https://elzero.org/html-css-practice-template-three/"
                  target="_blank"
                  >Here</a
                >
              </p>
            </main>
            <footer class="pad-20 fs-14">
              <a
                href="https://ahmed-awad-template3.netlify.app/"
                class="flex-between"
                target="_blank"
              >
                Preview The Site
                <i class="fa-solid fa-arrow-right preview"></i>
              </a>
            </footer>
          </div>
          <!--End Card-->
          <!--Start Card-->
          <div class="card bg-white rad-10">
            <header>
              <img
                src="img/moshify-template.png"
                alt="template4"
                class="rad-10"
              />
            </header>
            <main class="pad-20">
              <h3 class="fs-16">Template 4</h3>
              <p class="mt-15 fs-12 c-grey">
                This is the template 4 using HTML,CSS. you can see the source of
                the site
                <a
                  href="https://ahmed-awad-template3.netlify.app/"
                  target="_blank"
                  >Here</a
                >
              </p>
            </main>
            <footer class="pad-20 fs-14">
              <a
                href="https://ahmed-awad97.netlify.app/"
                class="flex-between"
                target="_blank"
              >
                Preview The Site
                <i class="fa-solid fa-arrow-right preview"></i>
              </a>
            </footer>
          </div>
          <!--End Card-->
          <!--Start Card-->
          <div class="card bg-white rad-10">
            <header>
              <img src="img/template5.png" alt="template4" class="rad-10" />
            </header>
            <main class="pad-20">
              <h3 class="fs-16">Template 5</h3>
              <p class="mt-15 fs-12 c-grey">
                This is the template 5 using HTML,CSS.
              </p>
            </main>
            <footer class="pad-20 fs-14">
              <a
                href="https://ahmed-awad97.netlify.app/"
                class="flex-between"
                target="_blank"
              >
                Preview The Site
                <i class="fa-solid fa-arrow-right preview"></i>
              </a>
            </footer>
          </div>
          <!--End Card-->
        </div>
      </div>
      <!--End Content-->
    </div>
    <script src="JS/main.js"></script>
  </body>
</html>
