<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/framework.css" />
    <link rel="stylesheet" href="css/setting.dark.css" />
    <link rel="stylesheet" href="css/master.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page d-flex">
      <!--Start Side Bar-->
      <aside class="pad-20">
        <h3 class="p-relative txt-c">Ahmed</h3>
        <ul class="links">
          <li>
            <a href="/dashboard" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-solid fa-gauge"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/settings" class="active rad-6 pad-10 d-flex align-c">
              <i class="fa-solid fa-gear"></i>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a href="profile.html" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-regular fa-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="projects.html" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-solid fa-diagram-project"></i>
              <span>Projects</span>
            </a>
          </li>
          <li>
            <a href="courses.html" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-solid fa-graduation-cap"></i>
              <span>Courses</span>
            </a>
          </li>
          <li>
            <a href="friends.html" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-solid fa-user-group"></i>
              <span>Friends</span>
            </a>
          </li>
          <li>
            <a href="files.html" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-regular fa-file"></i>
              <span>Files</span>
            </a>
          </li>
          <li>
            <a href="plans.html" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-solid fa-credit-card"></i>
              <span>Plans</span>
            </a>
          </li>
          <li>
            <a href="contact.html" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-regular fa-pen-to-square"></i>
              <span>Contact Form</span>
            </a>
          </li>
          <li>
            <a href="crud.html" class="rad-6 pad-10 d-flex align-c">
              <i class="fa-solid fa-plus"></i>
              <span>CRUD</span>
            </a>
          </li>
        </ul>
      </aside>
      <!--End Side Bar-->

      <!--Start Content-->

      <div class="content full-width">
        <header class="pad-15 flex-between">
          <div class="search p-relative">
            <input type="search" placeholder="Type A Keyword" class="pad-10" />
          </div>
          <div class="icons felx-center">
            <span class="notification notificationIcon p-relative">
              <i class="fa-regular fa-bell p-relative"></i>
            </span>
            <img src="img/avatar.jpg" alt="" class="rad-half" id="profilePic" />
          </div>
          <ul class="profileContent">
            <li>
              <a href="profile.html" class="d-block c-black fs-14 mb-15"
                ><i class="fa-regular fa-user mr-5"></i>
                <span>View Profile</span></a
              >
            </li>
            <li>
              <a href="settings.html" class="d-block c-black fs-14 mb-15"
                ><i class="fa-solid fa-gear mr-5"></i> <span>Settings</span></a
              >
            </li>
            <li>
              <a href="#" class="d-block c-black fs-14 mb-15"
                ><i class="fa-solid fa-power-off mr-5"></i
                ><span>Log Out</span></a
              >
            </li>
          </ul>

          <ul class="notificationContent">
            <li>
              <a href="#" class="d-block c-black fs-14 mb-15"
                ><i class="fa-solid fa-coins mr-5"></i>
                <span>500€ has been added to your wallet</span></a
              >
            </li>
            <li>
              <a href="profile.html" class="d-block c-black fs-14 mb-15"
                ><i class="fa-solid fa-envelope mr-5"></i>
                <span>You have 5 new messages</span></a
              >
            </li>
          </ul>
        </header>

        <h1 class="p-relative">Settings</h1>

        <div class="cards d-grid gap-20">
          <!--Start Site Control-->
          <div class="card site-control pad-15 bg-white rad-10">
            <h2 class="mb-10">Site control</h2>
            <p class="c-grey fs-14 mb-15">
              Control The Website If There Is Maintenance
            </p>
            <div class="flex-between align-c">
              <div>
                <span class="fs-16">Website Control</span>
                <p class="fs-12 c-grey mt-5">
                  Open/Close Website And Type The Reason
                </p>
              </div>
              <div>
                <label>
                  <input type="checkbox" class="toggle-checkbox" />
                  <div class="toggle-switch p-relative"></div>
                </label>
              </div>
            </div>
            <div class="flex-between align-c mt-10 mb-15 dark-mode">
              <div>
                <span class="fs-16">Dark Mode</span>
                <p class="fs-12 c-grey mt-5">
                  switch between light/dark mode &lpar;Try it for this page only
                  as a test&rpar;
                </p>
              </div>
              <div>
                <label>
                  <input type="checkbox" class="toggle-checkbox" />
                  <div class="toggle-switch p-relative dark-mode-btn"></div>
                </label>
              </div>
            </div>
            <textarea
              name="close-message-content"
              placeholder="Close Message Content"
              class="pad-10 mt-20 rad-6"
            ></textarea>
          </div>
          <!--End Site Control-->

          <!--Start General Info-->
          <div class="card general-info pad-15 bg-white rad-10">
            <h2 class="mb-10">General Info</h2>
            <p class="c-grey fs-14 mb-15">
              General Information About Your Account
            </p>

            <form action="#">
              <div class="content mb-15">
                <label for="first-name" class="d-block c-grey fs-14"
                  >First Name</label
                >
                <input
                  type="text"
                  id="first-name"
                  placeholder="First Name"
                  name="first name"
                  class="mt-5 pad-10 rad-6"
                />
              </div>

              <div class="content mb-15">
                <label for="last-name" class="d-block c-grey fs-14"
                  >Last Name</label
                >
                <input
                  type="text"
                  id="last-name"
                  placeholder="Last Name"
                  name="first name"
                  class="mt-5 pad-10 rad-6"
                />
              </div>

              <div class="content">
                <label for="email" class="d-block c-grey fs-14">Email</label>
                <input
                  type="email"
                  id="email"
                  placeholder="email"
                  name="email"
                  value="ahm@gmail.com"
                  class="mt-5 pad-10 rad-6"
                  disabled
                />
                <a href="#" class="c-blue fs-16 change">Change</a>
                <a href="#" class="c-blue fs-16 save hidden">Save</a>
              </div>
            </form>
          </div>
          <!--End General Info-->

          <!--Start Security Info-->
          <div class="card security-info pad-15 bg-white rad-10">
            <h2 class="mb-10">Security Info</h2>
            <p class="c-grey fs-14 mb-15">
              Security Information About Your Account
            </p>

            <div class="box flex-between align-c pb-20">
              <div>
                <span class="d-block fs-16">Password</span>
                <span class="d-block c-grey fs-12 mt-5"
                  >Last Change On 25/10/2021</span
                >
              </div>
              <a href="#" class="button btn-shape bg-blue c-white rad-6 fs-14"
                >Change</a
              >
              <a
                href="#"
                class="button btn-shape bg-blue c-white rad-6 fs-14 save hidden"
                >Save</a
              >
              <input
                type="password"
                placeholder="Please enter new password"
                class="rad-6 pad-10 mt-10 hidden"
              />
            </div>

            <div class="box flex-between align-c mt-20 pb-20">
              <div>
                <span class="d-block fs-16">Two-Factor Authentication</span>
                <span class="d-block c-grey fs-12 mt-5"
                  >Enable/Disable The Feature</span
                >
              </div>
              <label>
                <input type="checkbox" class="toggle-checkbox" />
                <div class="toggle-switch p-relative"></div>
              </label>
            </div>

            <div class="box flex-between align-c mt-20 pb-20">
              <div>
                <span class="d-block fs-16">Devices</span>
                <span class="d-block c-grey fs-12 mt-5"
                  >Check The Login Devices List</span
                >
              </div>
              <a href="#" class="btn-shape bg-eee c-black rad-6 fs-14"
                >Devices</a
              >
            </div>
          </div>
          <!--End Security Info-->

          <!--Start Social info-->
          <div class="card social-info pad-15 bg-white rad-10">
            <h2 class="mb-10">Social Info</h2>
            <p class="c-grey fs-14 mb-15">Social Media Information</p>

            <div class="box d-flex align-c rad-6 mb-20">
              <i class="fa-brands fa-twitter felx-center c-grey"></i>
              <input type="text" placeholder="Twitter Username" class="" />
            </div>

            <div class="box d-flex align-c rad-6 mb-20">
              <i class="fa-brands fa-linkedin felx-center c-grey"></i>
              <input type="text" placeholder="Linkedin Username" class="" />
            </div>

            <div class="box d-flex align-c rad-6 mb-20">
              <i class="fa-brands fa-youtube felx-center c-grey"></i>
              <input type="text" placeholder="Youtube Username" class="" />
            </div>

            <div class="box d-flex align-c rad-6 mb-20">
              <i class="fa-brands fa-facebook felx-center c-grey"></i>
              <input type="text" placeholder="Facebook Username" class="" />
            </div>
          </div>
          <!--End Social info-->

          <!--Start Widgets-->
          <div class="card widgets pad-15 bg-white rad-10">
            <h2 class="mb-10">Widgets Control</h2>
            <p class="c-grey fs-14 mb-15">Show/Hide Widgets</p>

            <div class="check d-flex align-c mb-15">
              <input type="checkbox" id="one" checked />
              <label for="one" class="fs-16 p-relative">Quick Draft</label>
            </div>

            <div class="check d-flex align-c mb-15">
              <input type="checkbox" id="two" checked />
              <label for="two" class="fs-16 p-relative">Yearly Targets</label>
            </div>

            <div class="check d-flex align-c mb-15">
              <input type="checkbox" id="three" checked />
              <label for="three" class="fs-16 p-relative"
                >Tickets Statistics</label
              >
            </div>

            <div class="check d-flex align-c mb-15">
              <input type="checkbox" id="four" checked />
              <label for="four" class="fs-16 p-relative">Latest News</label>
            </div>

            <div class="check d-flex align-c mb-15">
              <input type="checkbox" id="five" />
              <label for="five" class="fs-16 p-relative">Latest Tasks</label>
            </div>

            <div class="check d-flex align-c mb-15">
              <input type="checkbox" id="six" checked />
              <label for="six" class="fs-16 p-relative">Top Search Items</label>
            </div>
          </div>
          <!--End Widgets-->

          <!--Start Backup Manager-->
          <div class="card backup-manager pad-15 bg-white rad-10">
            <h2 class="mb-10">Backup Manager</h2>
            <p class="c-grey fs-14 mb-20">Control Backup Time And Location</p>

            <div class="radios">
              <div class="d-flex align-c mb-20">
                <input type="radio" name="frequently" id="daily" />
                <label for="daily" class="p-relative fs-16">Daily</label>
              </div>

              <div class="d-flex align-c mb-20">
                <input type="radio" name="frequently" id="weekly" />
                <label for="weekly" class="p-relative fs-16">Weekly</label>
              </div>

              <div class="d-flex align-c">
                <input type="radio" name="frequently" id="monthly" />
                <label for="monthly" class="p-relative fs-16">Monthly</label>
              </div>
            </div>

            <div class="flex-between mt-20 gap-20">
              <input type="radio" name="server" id="server-one" />
              <div class="d-flex txt-c">
                <label for="server-one">
                  <i class="fa-solid fa-server fs-20 mb-15"></i>
                  <span class="d-block fs-20">Megaman</span>
                </label>
              </div>

              <input type="radio" name="server" id="server-two" checked />
              <div class="d-flex txt-c">
                <label for="server-two">
                  <i class="fa-solid fa-server fs-20 mb-15"></i>
                  <span class="d-block fs-20">Ahmed</span>
                </label>
              </div>

              <input type="radio" name="server" id="server-three" />
              <div class="d-flex txt-c">
                <label for="server-three">
                  <i class="fa-solid fa-server fs-20 mb-15"></i>
                  <span class="d-block fs-20">Megaman</span>
                </label>
              </div>
            </div>
          </div>
          <!--End Backup Manager-->
        </div>
      </div>
      <!--End Content-->
    </div>
    <script src="JS/main.js"></script>
    <script src="JS/settings.js"></script>
  </body>
</html>
