/*Start page*/

.page.dark,
.page.dark aside,
.page.dark header,
.page.dark *::selection {
  background-color: #121212;
  color: white;
}

.page.dark > .content {
  background-color: #3f3f3f;
}

.page.dark .card,
.page.dark input,
.page.dark textarea,
.page.dark .box,
.page.dark .box input {
  background-color: #282828;
  color: white;
}

.page.dark .toggle-checkbox:checked + .toggle-switch {
  background: #121212 !important;
}

.page.dark .toggle-checkbox:checked + .toggle-switch::before {
  background-color: #8b8b8b;
  color: white !important;
}

.page.dark aside h3::before,
aside.dark h3::after {
  background-color: white;
}

.page.dark aside a {
  color: white;
}
.page.dark aside a.active {
  color: black;
}
.page.dark aside a:hover {
  color: black;
}
