<header class="pad-15 flex-between">
  <div class="search p-relative">
    <input type="search" placeholder="Type A Keyword" class="pad-10" />
  </div>
  <div class="icons felx-center">
    <span class="notification notificationIcon p-relative">
      <i class="fa-regular fa-bell p-relative"></i>
    </span>
    <img src="img/avatar.jpg" alt="" class="rad-half" id="profilePic" />
  </div>
  <ul class="profileContent">
    <li>
      <a href="/profile" class="d-block c-black fs-14 mb-15"
        ><i class="fa-regular fa-user mr-5"></i> <span>View Profile</span></a
      >
    </li>
    <li>
      <a href="/settings" class="d-block c-black fs-14 mb-15"
        ><i class="fa-solid fa-gear mr-5"></i> <span>Settings</span></a
      >
    </li>
    <li>
      <a href="#" class="d-block c-black fs-14 mb-15"
        ><i class="fa-solid fa-power-off mr-5"></i><span>Log Out</span></a
      >
    </li>
  </ul>

  <ul class="notificationContent">
    <li>
      <a href="#" class="d-block c-black fs-14 mb-15"
        ><i class="fa-solid fa-coins mr-5"></i>
        <span>500€ has been added to your wallet</span></a
      >
    </li>
    <li>
      <a href="/profile" class="d-block c-black fs-14 mb-15"
        ><i class="fa-solid fa-envelope mr-5"></i>
        <span>You have 5 new messages</span></a
      >
    </li>
  </ul>
</header>
