<div class="card latest-upload pad-20 bg-white rad-10">
  <h2 class="m-0">Latest Uploads</h2>

  <div class="latest-upload-row d-flex align-c gap-20 mt-20">
    <img src="img/pdf.svg" alt="pdf" />
    <div class="info">
      <p class="fs-14">my-file.pdf</p>
      <p class="c-grey fs-14 mt-5">Ahmed</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">2.6mb</div>
  </div>

  <div class="latest-upload-row d-flex align-c gap-20 mt-20">
    <img src="img/avi.svg" alt="avi" />
    <div class="info">
      <p class="fs-14">My-Video-File.avi</p>
      <p class="c-grey fs-14 mt-5">User</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">1.7mb</div>
  </div>

  <div class="latest-upload-row d-flex align-c gap-20 mt-20">
    <img src="img/psd.svg" alt="psd" />
    <div class="info">
      <p class="fs-14">My-Psd-File.pdf</p>
      <p class="c-grey fs-14 mt-5">Admin</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">3.5mb</div>
  </div>

  <div class="latest-upload-row d-flex align-c gap-20 mt-20">
    <img src="img/zip.svg" alt="zip" />
    <div class="info">
      <p class="fs-14">My-Zip-File.pdf</p>
      <p class="c-grey fs-14 mt-5">Ahmed</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">3.8mb</div>
  </div>

  <div class="latest-upload-row d-flex align-c gap-20 mt-20">
    <img src="img/dll.svg" alt="dll" />
    <div class="info">
      <p class="fs-14">My-DLL-File.pdf</p>
      <p class="c-grey fs-14 mt-5">Admin</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">1.1mb</div>
  </div>

  <div class="latest-upload-row d-flex align-c gap-20 mt-20">
    <img src="img/eps.svg" alt="eps" />
    <div class="info">
      <p class="fs-14">My-Eps-File.pdf</p>
      <p class="c-grey fs-14 mt-10">Ahmed</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">2.4mb</div>
  </div>
</div>
