<div class="card last-project pad-20 bg-white rad-10">
  <h2 class="mb-20">Last Project Progress</h2>
  <ul class="p-relative">
    <li class="p-relative done d-flex align-c fs-14 mb-20">Got the Project</li>
    <li class="p-relative done d-flex align-c fs-14 mb-20">
      Started The Project
    </li>
    <li class="p-relative done d-flex align-c fs-14 mb-20">
      The Project About To Finish
    </li>
    <li class="p-relative current d-flex align-c fs-14 mb-20">
      Test The Project
    </li>
    <li class="p-relative d-flex align-c fs-14 mb-20">
      Finish The Project & Get Money
    </li>
  </ul>
</div>
