<div class="card news pad-20 bg-white rad-10">
  <h2 class="m-0">Latest News</h2>

  <div class="news-row d-flex align-c gap-20 mt-20">
    <img src="img/news-01.png" alt="news01" />
    <div class="info">
      <h3 class="fs-16">Created SASS Section</h3>
      <p class="c-grey fs-14 mt-10">New SASS Examples & Tutorials</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">3 Days Ago</div>
  </div>

  <div class="news-row d-flex align-c gap-20 mt-20">
    <img src="img/news-02.png" alt="news02" />
    <div class="info">
      <h3 class="fs-16">Changed The Design</h3>
      <p class="c-grey fs-14 mt-10">A Brand New Website Design</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">5 Days Ago</div>
  </div>

  <div class="news-row d-flex align-c gap-20 mt-20">
    <img src="img/news-03.png" alt="news03" />
    <div class="info">
      <h3 class="fs-16">Team Increased</h3>
      <p class="c-grey fs-14 mt-10">3 Developers Joined The Team</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">7 Days Ago</div>
  </div>

  <div class="news-row d-flex align-c gap-20 mt-20">
    <img src="img/news-04.png" alt="news04" />
    <div class="info">
      <h3 class="fs-16">Added Payment Gateway</h3>
      <p class="c-grey fs-14 mt-10">Many New Payment Gateways Added</p>
    </div>
    <div class="btn-shape bg-eee fs-12 rad-6">9 Days Ago</div>
  </div>
</div>
