<div class="card reminders pad-20 bg-white rad-10">
  <h2 class="mb-20">Reminders</h2>
  <ul>
    <li class="blue p-relative done d-flex align-c fs-14 mb-20">
      <div class="text">
        <p class="w-bold">Check My Tasks List</p>
        <span class="c-grey mt-5 fs-12">28/09/2022 - 12:00am</span>
      </div>
    </li>
    <li class="orange p-relative done d-flex align-c fs-14 mb-20">
      <div class="text">
        <p class="w-bold">Check My Projects</p>
        <span class="c-grey mt-5 fs-12">26/10/2022 - 12:00am</span>
      </div>
    </li>
    <li class="green p-relative done d-flex align-c fs-14 mb-20">
      <div class="text">
        <p class="w-bold">Call All My Clients</p>
        <span class="c-grey mt-5 fs-12">05/11/2022 - 12:00am</span>
      </div>
    </li>
    <li class="red p-relative done d-flex align-c fs-14 mb-20">
      <div class="text">
        <p class="w-bold">Finish The Development Workshop</p>
        <span class="c-grey mt-5 fs-12">20/12/2022 - 12:00am</span>
      </div>
    </li>
  </ul>
</div>
