<div class="card social pad-20 bg-white rad-10">
  <h2 class="mb-20">social media stats</h2>

  <div class="box twitter p-relative flex-between align-c pad-15 mb-20">
    <i class="fa-brands fa-twitter felx-center fs-20"></i>
    <span class="fs-14">90K Follower</span>
    <a href="#" class="btn-shape rad-6 fs-12">Follow</a>
  </div>

  <div class="box fb p-relative flex-between align-c pad-15 mb-20">
    <i class="fa-brands fa-facebook felx-center fs-20"></i>
    <span class="fs-14">2M Like</span>
    <a href="#" class="btn-shape rad-6 fs-12">Follow</a>
  </div>

  <div class="box youtube p-relative flex-between align-c pad-15 mb-20">
    <i class="fa-brands fa-youtube felx-center fs-20"></i>
    <span class="fs-14">900K Subscribe</span>
    <a href="#" class="btn-shape rad-6 fs-12">Follow</a>
  </div>

  <div class="box linkedin p-relative flex-between align-c pad-15 mb-20">
    <i class="fa-brands fa-linkedin felx-center fs-20"></i>
    <span class="fs-14">30K Follower</span>
    <a href="#" class="btn-shape rad-6 fs-12">Follow</a>
  </div>
</div>
