<div class="card statistics pad-20 bg-white rad-10">
  <div class="header">
    <div class="title">
      <h2 class="m-0">Tickets Statistics</h2>
      <p class="c-grey mb-20 mt-5">Everything About Support Tickets</p>
    </div>
  </div>
  <div class="body">
    <div class="content">
      <div class="box pad-20 rad-6">
        <i class="fa-regular fa-newspaper c-orange fs-28 mb-10"></i>
        <span class="d-block fs-28 w-bold">2500</span>
        <span class="d-block fs-14 mt-10 c-grey">Total</span>
      </div>

      <div class="box pad-20 rad-6">
        <i class="fa-solid fa-spinner c-blue fs-28 mb-10"></i>
        <span class="d-block fs-28 w-bold">500</span>
        <span class="d-block fs-14 mt-10 c-grey">Pending</span>
      </div>

      <div class="box pad-20 rad-6">
        <i class="fa-solid fa-check c-green fs-28 mb-10"></i>
        <span class="d-block fs-28 w-bold">2500</span>
        <span class="d-block fs-14 mt-10 c-grey">Total</span>
      </div>

      <div class="box pad-20 rad-6">
        <i class="fa-regular fa-circle-xmark c-red fs-28 mb-10"></i>
        <span class="d-block fs-28 w-bold">1900</span>
        <span class="d-block fs-14 mt-10 c-grey">Closed</span>
      </div>
    </div>
  </div>
</div>
