<div class="card top-search pad-20 bg-white rad-10">
  <h2>Top Search Items</h2>
  <div class="choosen-item m-20"></div>
  <div class="header d-flex flex-between">
    <p class="c-grey mt-20 fs-14">Keyword</p>
    <p class="c-grey mt-20 fs-14">Search Count</p>
  </div>

  <div class="keyword d-flex flex-between mt-20 pb-20">
    <div>
      <input
        type="checkbox"
        name="programming"
        class="checked-item"
        id="programming"
      />
      <label for="programming"><span class="fs-16">Programming</span></label>
    </div>
    <span class="fs-12 btn-shape bg-eee rad-6">220</span>
  </div>

  <div class="keyword d-flex flex-between mt-20 pb-20">
    <div>
      <input
        type="checkbox"
        name="JavaScript"
        class="checked-item"
        id="javascript"
      />
      <label for="javascript"><span class="fs-16">JavaScript</span></label>
    </div>
    <span class="fs-12 btn-shape bg-eee rad-6">180</span>
  </div>

  <div class="keyword d-flex flex-between mt-20 pb-20">
    <div>
      <input type="checkbox" name="PHP" class="checked-item" id="php" />
      <label for="php"><span class="fs-16">PHP</span></label>
    </div>
    <span class="fs-12 btn-shape bg-eee rad-6">565</span>
  </div>

  <div class="keyword d-flex flex-between mt-20 pb-20">
    <div>
      <input type="checkbox" name="code" class="checked-item" id="code" />
      <label for="code"><span class="fs-16">Code</span></label>
    </div>
    <span class="fs-12 btn-shape bg-eee rad-6">34</span>
  </div>

  <div class="keyword d-flex flex-between mt-20 pb-20">
    <div>
      <input type="checkbox" name="Design" class="checked-item" id="design" />
      <label for="design"><span class="fs-16">Design</span></label>
    </div>
    <span class="fs-12 btn-shape bg-eee rad-6">56</span>
  </div>

  <div class="keyword d-flex flex-between mt-20 pb-20">
    <div>
      <input type="checkbox" name="Logic" class="checked-item" id="logic" />
      <label for="logic"><span class="fs-16">Logic</span></label>
    </div>
    <span class="fs-12 btn-shape bg-eee rad-6">112</span>
  </div>
</div>
