<div class="card welcome bg-white rad-10">
  <div class="header pad-20 d-flex flex-between bg-eee">
    <div class="title">
      <h2 class="m-0">Welcome</h2>
      <p class="c-grey mt-5">Ahmed Awad</p>
    </div>
    <img src="img/welcome.png" alt="welcome card header image" />
  </div>
  <img src="img/avatar.jpg" alt="avatar" class="avatar rad-half" />
  <div class="body mt-20 mb-20 pad-20 d-flex txt-c">
    <div>
      <span class="fs-20">Ahmed Awad</span>
      <span class="d-block mt-10 fs-14 c-grey">Developer</span>
    </div>

    <div>
      <span class="fs-20">5</span>
      <span class="d-block mt-10 fs-14 c-grey">Projects</span>
    </div>
    <div>
      <span class="fs-20">5000€</span>
      <span class="d-block mt-10 fs-14 c-grey">Earned</span>
    </div>
  </div>
  <div class="footer pad-20">
    <a href="/profile" class="bg-blue c-white btn-pad fs-14">Profile</a>
  </div>
</div>
