<div class="card targets bg-white rad-10">
  <div class="header pad-20">
    <div class="title">
      <h2 class="m-0">Yearly Target</h2>
      <p class="c-grey mt-5">Targets Of The Year</p>
    </div>
  </div>
  <div class="body pad-20">
    <div class="target felx-center mb-20 blue">
      <div class="icon felx-center">
        <i class="fa-solid fa-dollar-sign c-blue"></i>
      </div>
      <div class="details">
        <span class="fs-14 c-grey">Money</span>
        <span class="d-block">20.000€</span>
        <div class="progress p-relative">
          <span style="width: 80%" class="bg-blue">
            <span class="rad-6 fs-14 bg-blue">80%</span>
          </span>
        </div>
      </div>
    </div>
    <div class="target felx-center mb-20 orange">
      <div class="icon felx-center">
        <i class="fa-solid fa-code c-orange"></i>
      </div>
      <div class="details">
        <span class="fs-14 c-grey">Project</span>
        <span class="d-block">24</span>
        <div class="progress p-relative">
          <span style="width: 55%" class="bg-orange">
            <span class="rad-6 fs-14 bg-orange">55%</span>
          </span>
        </div>
      </div>
    </div>
    <div class="target felx-center mb-20 green">
      <div class="icon felx-center">
        <i class="fa-solid fa-user c-green"></i>
      </div>
      <div class="details">
        <span class="fs-14 c-grey">Team</span>
        <span class="d-block">12</span>
        <div class="progress p-relative">
          <span style="width: 75%" class="bg-green">
            <span class="rad-6 fs-14 bg-green">75%</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
